[alias]
        last = cat-file commit HEAD
        co = checkout
        ds = diff --staged
        st = status -sb
        amend = commit --amend -C HEAD
        undo = reset --soft HEAD^
        ls = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short
        standup = log --since '1 day ago' --oneline --author alexgt9@gmail.com
        graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
        latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
        bl = blame -wMC
        pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[color]
        ui = true
